@import '~gridle';

@include gridle_setup(
    (
        context: 12,
        gutter-width: 0px,
        direction: ltr,
    )
);

@include gridle_register_state ( mobile , (
    max-width : 620px,
) );

@include gridle_register_state ( tablet , (
    min-width : 621px,
    max-width : 900px,
) ) ;

